body {
}

/*Carousel*/
#myCarousel{
    margin-top:40px;
    width:95%;
}

.carousel-caption{
    color:white;
    position: static;
    top: 50%;
    max-width: 100%;
    text-align: center;
    margin:auto;
}
#myCarousel .item {
    height: 280px;
}
#slide1{
    background: url("../img/blueBackground.jpg") top center no-repeat;
    width:100%;
}
#slide2{
    background: url("../img/blueBackground.jpg") top center no-repeat;
    width:100%;
}
#slide3{
    background: url("../img/Slideshow_New_Block2.jpg") center no-repeat;
    width:100%;
    max-width:100%;
}
#slide4{
    background: url("../img/blueBackground.jpg") top center no-repeat;
    width:100%;
}

/*OTHER THINGS*/
.containerSpecial {
    margin: 0 auto;
    position: relative;
    width: 1200px !important;
    background: #fff;
    text-align: center;
}

#videoYtb{
    margin-top:50px;
    width:95%;
}

#titleHome h2 {
  text-transform: uppercase;
  color: #1879ba;
  text-align:center;
}
#titleHome h3 {
  text-transform: uppercase;
  color: #1879ba;
  text-align:center;
}


.light-sep {
    max-width: 80px;
    border: 2px solid #1879ba;
    margin-top: 20px;
    margin-bottom: 20px;
}


.sep {
    max-width: 80px;
    border: 2px solid #1879ba;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*NEWS*/
#newspartie .newstitre h2 {
  margin-top: 40px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

#newspartie .news{
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #1879ba;
    border-radius:2px;
}

#newspartie .news .newsHeader{
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #1879ba;
    color:#1879ba;
}



